<link rel="stylesheet" href="styles/style.css"/>

<div class="page-container">
{{#each myAlbumsArray}}
<div class = "container">
<img class="img-card" src="{{this.images.0.url}}"/>
<div class = "title">
<h2>{{this.name}}</h2>
<a class="button" href="/tracks/{{this.id}}">View Tracks</a>
</div>
</div>
{{/each}}
</div>